*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    /* border: 2px solid crimson; */
    width: 100 dvw;
    height: 100 dvh;
    background-color: black;
    color: white;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;
}

header {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 22px;
}

main {
    /* border: 2px solid orange; */
    
}

footer {
    /* border: 2px solid yellow; */
}

h1 {
    padding: 20px;
    background-color: rgb(172, 22, 22);
}

nav {
    border: 2px solid purple;
    display: flex;
    
}

nav aside {
    border: 2px solid blue;
    flex-grow: 4;
}

nav img {
    border: 2px solid crimson;
    flex-grow: 4;
    /* display: auto; */
    padding: 20px 20px;
}

nav #textos {
    border: 2px solid yellow;    
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    
}

nav #textos p {
    padding-top: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;      
    flex-grow: 1;
    width: 100%;

    background-color: blueviolet;
}

nav #textos #botoes_texto {   
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    
}

#botoes {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#textos #voltar, #textos #avancar {
    color: crimson;
    width: 30%;
    
    
}
