*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    /* border: 2px solid crimson; */
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    background: linear-gradient(to right, rgb(43, 43, 150), rgb(0, 0, 0));
    color: white;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;

    /* background-image: url(./Ash.jpeg); */ /* coloca a imagem no fundo da tela (vários quadrados pequenos) */
    /* background-size: cover; */ /* garante que a imagem cubra a tela inteira */
    /* background-position: center; */
    /* background-repeat: no-repeat; */ /* impede que a imagem se repita constantemente */
    /* background-attachment: fixed; */  /* fixa a tela ao rolar a barra de rolagem */
    
}

header {
    /* border: 2px solid rgb(22, 56, 206); */
    background: linear-gradient(to right, red, blue);
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 5px;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    
}

input {
    /* border: 2px solid rgb(183, 220, 20); */
    min-width: 35ch;
}

#top button {
    /* border: 2px solid crimson; */
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}

#top input {
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
}

footer {
    /* border: 2px solid gray; */
    width: 100%;
    height: auto;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}

h1 {
    /* background-color: rgb(22, 172, 30); */
    padding: 5px;    
    display: flex;
    flex-direction: column;
    color: rgb(244, 248, 12);
}

h2 {
    /* border: 2px solid crimson; */
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    color: rgb(247, 242, 0);
    font-size: 40px;
}

section {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

section img {
    /* border: 2px solid crimson; */
    flex-grow: 4;    
    padding: 0px 20px;
    width: 20%;
    height: 80dvh;

    margin-left: 250px;
}

section #textos {
    /* border: 2px solid yellow;     */
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    width: 20%;
    height: 80dvh;

    margin-right: 250px;
    
}

section #textos p {
    padding-top: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;      
    flex-grow: 1;
    width: 100%;
    color: rgb(247, 242, 0);

    /* background-color: blueviolet; */
} 

section #textos #botoes {   
    /* border: 2px solid aquamarine; */
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    
}

#botoes {
    display: flex;
    justify-content: space-between;
    height: 20px;
    
}

#botoes #voltar {
    background-color: crimson;
    color: white;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 70px;
}

#botoes #avancar {
    background-color: rgb(25, 12, 218);
    color: white;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 70px;
}